:root {
    --primary-color: #0d6efd;
    --accent: rgb(255, 204, 0);
    --neutre: white;
    --texte: #333;
    --details: #333333e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
svg{
    width: 20px;
    height: 20px;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
.mobile{
    width: 100%;
    justify-content: space-between;
    display: none;
}
header{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100vw;
    padding: 2% 6%;
    transition: .5s ease;
}
.navbar2{
    background: var(--neutre);
    position: fixed;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.133);
    z-index: 99;
}
.navbar2 .logo img{
    filter: brightness(1);
}
.navbar2 .logo-link{
    color: var(--primary-color);
}
.navbar2 .link{
    color: var(--texte);
}
.navbar2 .link:hover{
    background: #0d6dfd1e;
}
.desktop{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo-link{
    display: flex;
    align-items: center;
    color: var(--neutre);
    font-size: 1em;
    font-weight: 700;
}
.logo img{
    width: 60px;
    margin-right: 10px;
    filter: brightness(100);
}
.desktop nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.link-list{
    display: flex;
    gap: 30px;
}
.bouton{
    padding: 15px 30px;
    border-radius: 10px;
}
.orange{
    background: var(--accent);
    color: var(--neutre);
    transition: .5s ease;
}
.orange:hover{
    background: var(--texte);
}
.link{
    color: white;
    transition: .5s ease;
    display: flex;
    align-items: center;
}
.link svg{
    margin-right: 5px;
}
.link:hover{
    color: var(--primary-color);
    background: rgba(255, 255, 255, 0.101);
    padding: 5px 10px;
    border-radius: 7px;
}
.actions{
    display: flex;
    position: relative;
    align-items: center;
}
.menu-links{
    position: absolute;
    background: var(--neutre);
    top: 100%;
    left: 0;
    width: 100vw;
    padding: 15px 20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.133);
    transform: scaleY(0);
    transform-origin: top;
}
.deplie{
    transform: scaleY(1);
}
.contacts{
    margin: 15px 0 0 0;
    border-top: 1px solid #0d6dfd50;
}
.hero-section {
    width: 100vw;
    height: 100vh;
    color: var(--neutre);
    overflow: hidden;
    position: relative;
}

.carousel-slides {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

.carousel-slide {
    width: 25%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url('../img/background-header.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url('../img/primaire.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.slide-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url('../img/secondaire1.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.slide-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../img/technique1.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.slide-title {
    font-size: 4rem;
    width: 50%;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    transform: translateY(-100px);
    opacity: 0;
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}

.slide-text {
    width: 44%;
    margin-bottom: 30px;
    line-height: 1.6;
    transform: translateY(100px);
    opacity: 0;
    font-family: 'Quicksand', sans-serif;
    transition: transform 0.7s ease-out 0.2s, opacity 0.7s ease-out 0.2s;
}

.btn {
    display: inline-block;
    color: var(--neutre);
    background: var(--primary-color);
    padding: 20px 30px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 0.7s ease-out 0.4s, opacity 0.7s ease-out 0.4s, all 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    background: var(--texte);
    color: var(--neutre);
}

/* Animation des éléments quand la slide est active */
.carousel-slide.active .slide-title {
    transform: translateY(0);
    opacity: 1;
}

.carousel-slide.active .slide-text {
    transform: translateY(0);
    opacity: 1;
}

.carousel-slide.active .btn {
    transform: translateX(0);
    opacity: 1;
}

.carousel-nav {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    display: flex;
    gap: 12px;
    z-index: 10;
    padding: 0 6%;
}

.nav-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid var(--neutre);
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-dot.active {
    background-color: var(--accent);
    box-shadow: 0 0 10px var(--accent);
    transform: scale(1.2);
    border: none;
    width: 9px;
    height: 9px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.059);
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 10;
}

.carousel-btn:hover {
    background-color: rgba(255, 255, 255, 0.171);
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

/**/
.part{
    padding: 0 6%;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 6% 6%;
}
.details {
    font-size: 0.7em;
}

.fleche {
    margin-left: 10px;
}
.hero-stat{
    display: flex;
    padding: 5px;
    background: rgba(255, 255, 255, 0.044);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.392);
    border-radius: 10px;
    gap: 10px;
}
.hero-stat img{
    width: 130px;
    border-radius: 5px;
}
.hero-stat-texte{
    color: var(--neutre);
    padding: 5px;
}
.hero-stat-texte p{
    margin: 10px 0;
}
.utilisateurs{
    display: flex;
    align-items: end;
    padding: 10px 0;
    gap: 10px;
}
.utilisateur{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.utilisateur img{
    width: 110%;
}
/* chevauchement */
.utilisateur + .utilisateur{
    margin-left:-20px;
}
.contact-btn{
    background: transparent;
    border: none;
    color: var(--neutre);
    cursor: pointer;
}
.contact-btn:hover{
    background: #0d6dfd15;
    color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 7px;
}
.menu-links-btn{
    background: transparent;
    border: none;
    color: var(--neutre);
    cursor: pointer;
}
.menu-links-btn:hover, .menu-links-btn.active{
    background: #0d6dfd15;
    color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 7px;
}
.navbar2 .menu-links-btn{
    color: var(--texte);
}
.fluide{
    transition: .5s ease;
}
.fluide1{
    transition: .2s ease;
}
.navbar2 .contact-btn{
    color: var(--texte);
}
.menu-contacts{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    background: var(--neutre);
    border-radius: 7px;
    transform: scale(0);
    transform-origin: top;
    transition: .3s ease;
}
.active{
    transform: scale(1);
}
.contact{
    padding: 10px 15px;
    transition: .5s ease;
}
.contact:hover{
    background: #0d6dfd15;
}
.contact-link{
    color: var(--texte);
    transition: .5s ease;
    display: flex;
    align-items: center;
}
.contact-link svg{
    margin-right: 10px;
}
.contact:hover .contact-link{
    color: var(--primary-color);
}
.section{
    padding: 5% 6%;
    position: relative;
}
.section-container{
    display: flex;
}
.reverse{
    flex-direction: row-reverse;
}
.section-container + .section-container{
    margin: 40px 0;
}
.section-container img{
    width: 600px;
    border-radius: 10px;
}
.section-texte{
    padding: 1% 4%;
}
.gris-bg{
    background: rgba(0, 22, 108, 0.036);
}
.section-title{
    font-size: 1em;
    color: var(--primary-color);
}
.section-title1{
    font-size: 1.1em;
    color: var(--primary-color);
}
.section-sous-title{
    font-size: 3em;
    color: var(--texte);
    text-align: center;
    padding: 30px 0;
    font-weight: 900;
}
.section-sous-title1{
    font-size: 3em;
    color: var(--texte);
    padding: 30px 0;
    font-weight: 900;
}
.section-text{
    font-size: 1em;
    color: var(--texte);
    margin: 20px 0;
}
.section-details{
    color: var(--details);
    margin: 0 0 30px 0;
}
.section-btn{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.8em;
}
.bleu{
    background: var(--primary-color);
    color: var(--neutre);
}
.bleu:hover{
    background: var(--texte);
}
.avantages{
    display: flex;
    gap: 20px;
    padding: 2% 0;
}
.avantage{
    border: 1px solid #0d6dfd43;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.avantage:hover{
    background: #0d6dfd15;
}
.decale-haut{
    transform: translateY(-30px);
}
.avantage svg{
    width: 50px;
    height: 50px;
    color: var(--primary-color);
}
.avantage:hover svg{
    animation: grandirTourner infinite 3s forwards;
}
@keyframes grandirTourner {
    0%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}
.avantage-titre{
    color: var(--primary-color);
    font-weight: 500;
    margin: 20px 0;
}
.avantage-texte{
    color: var(--details);
    margin: 10px 0;
}
.btn-rond{
    color: var(--neutre);
    text-align: center;
    background: var(--primary-color);
    padding: 35px 25px;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 2;
}
.cercle-anime{
    background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    animation: pulsation infinite 3s forwards;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 3.5%;
    right: 7.6%;
    z-index: 1;
}
@keyframes pulsation {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        opacity: 0;
    }
}

.footer-top{
    display: flex;
    padding: 5% 6% 0;
}
.footer-part{
    flex: 1;
    border-bottom: 1px solid #0d6dfd6c;
    padding: 2% 3%;
}
.footer-bottom{
    padding: 1% 6%;
}
.logo-link1{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: 1em;
    font-weight: 700;
}
.logo-link1 img{
    filter: brightness(1);
}
.link1 svg{
    margin-right: 10px;
    width: 15px;
    height: 15px;
}
#footer-text{
    margin: 15px 0;
}
.footer-link{
    padding: 6px 5px;
}
.link1{
    color: var(--texte);
    transition: .5s ease;
    display: flex;
    align-items: center;
}
.link1:hover{
    color: var(--primary-color);
    background: #0d6dfd24;
    padding: 5px 10px;
    border-radius: 7px;
}

/**/

@media (max-width: 768px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .bouton{
        padding: 10px 15px;
        border-radius: 7px;
    }
    .carousel-slide{
        flex-direction: column;
        justify-content: center;
    }
    .slide-title{
        font-size: 2.5em;
        width: 100%;
        margin: 0 0 20px 0;
    }
    .slide-text{
        width: 100%;
    }
    .carousel-nav{
       top: 90%; 
    }
    .carousel-btn{
        display: none;
    }
    .utilisateur{
        width: 40px;
        height: 40px;
    }
    .section-container{
        flex-direction: column;
    }
    .section-sous-title, .section-sous-title1{
        font-size: 2.5em;
    }
    .section-texte{
        margin: 15px 0;
    }
    .section-container img{
        width: 100%;
    }
    .avantages{
        flex-direction: column;
    }
    .decale-haut{
        transform: translateY(0);
    }
    .cercle-anime{
        right: 2%;
        bottom: 5%;
    }
    .footer-top{
        flex-direction: column;
    }
}

/*scroll bar*/
/* Pour Chrome, Edge, Safari (WebKit) */
::-webkit-scrollbar{
    width: 2px;
    height: 1px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.086);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--primary-color);
}